/* Variables de colores */
:root {
    --color-principal: #6A0DAD;
    /* Morado principal */
    --color-fondo: #F0F0F0;
    /* Fondo blanco */
    --color-texto: #333333;
    /* Texto principal en gris oscuro */
    --color-header: rgba(252, 252, 252, 0.753);
    --color-gris-medio: #666666;
    /* Gris medio para subtítulos */
    --color-gris-claro: #999999;
    /* Gris claro para texto secundario */
    --fuente-principal: 'Montserrat', sans-serif;
}

.dark-mode {
    --color-principal: white;
    /* Morado suave para modo oscuro */
    --color-fondo: #3c0861;
    /* Fondo casi negro */
    --color-texto: #e0e0e0d5;
    /* Texto gris claro */
    --color-header: rgba(161, 81, 236, 0.753);
    --color-gris-medio: #9E9E9E;
    /* Gris medio */
    --color-gris-claro: #BDBDBD;
    /* Gris claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header general */
header {
    position: sticky;
    top: 0;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--color-header);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Nav dentro del header */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    padding: 3px 3px;
    transition: color 0.3s ease;
}

/* Efecto hover en los enlaces */
nav ul li a:hover {
    color: var(--color-principal);
}

/* Efecto para el enlace activo */
nav ul li a.active {
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-principal);
}

/* Clases de colores dinámicos para el header */
.header-seccion1 {
    background-color: #6A0DAD;
    /* Morado */
    color: #fff;
    /* Blanco */
}

.header-seccion2 {
    background-color: #333333;
    /* Gris oscuro */
    color: #fff;
    /* Blanco */
}

.header-seccion3 {
    background-color: #FFFFFF;
    /* Blanco */
    color: #333333;
    /* Gris oscuro */
}
#languageSelector{
    border: none;
    background-color: transparent;
    
}



/* Estilos generales */
body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

/* Estilos de los encabezados */
h1,
h2,
h3 {
    text-align: center;
    color: var(--color-texto);
    margin-bottom: 1rem;
}

/* Escala de grises para encabezados */
h1 {
    font-size: 2.5rem;
    color: var(--color-texto);
    /* Gris oscuro */
}

h2 {
    font-size: 2rem;
    color: var(--color-gris-medio);
    /* Gris medio */
}

h3 {
    font-size: 1.5rem;
    color: var(--color-gris-claro);
    /* Gris claro */
}

/* Estilos de la sección de proyectos */
#proyectos {
    padding: 4rem 2rem;
    text-align: center;
}

#proyectos h2 {
    color: var(--color-principal);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Grid para los proyectos */
.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

/* Estilos para cada proyecto */
.proyecto {
    background-color: var(--color-principal);
    padding: 1.3rem;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 8px 1px var(--color-gris-medio);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-align: center;
}

/* Estilos para la imagen dentro de cada proyecto */
.proyecto img {
    width: 100%;
    height: auto;
    max-height: 200px;
    /* Limita la altura para mantener un diseño consistente */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Ajustes de texto en los proyectos */
.proyecto h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-fondo);
}

.proyecto p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-fondo);
}

.proyecto .tecnologias {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.html,
.css,
.js,
.sass,
.react {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 3px 8px var(--color-gris-medio);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;


}

.proyecto .html {
    background-color: orangered;
    color: black;
}

.proyecto .css {
    background-color: #264de4;
    color: black;
}

.proyecto .js {
    background-color: yellow;
    color: black;
}

.proyecto .sass {
    background-color: #cc6699;
    color: white;
}

.proyecto .react {
    background-color: #61dbfb;
    color: black;
}

/* Efecto hover en los proyectos */
.proyecto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--color-gris-medio);

}

.proyecto .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.proyecto .links .link_proyecto {
    color: var(--color-fondo);
    width: auto;
    max-width: 300px;
    text-decoration: none;
    transition: color 0.3s ease;
    border: 1px solid;
    padding: 8px 30px;
    border-radius: 15px;
}

.proyecto .links .link_proyecto:hover {
    box-shadow: 0px 0px 2px 1px var(--color-fondo);

    /* Un tono más claro de morado */
}

/* Estilos para el texto general */
p {
    text-align: center;
    font-size: 1rem;
    color: var(--color-gris-medio);
    /* Texto en gris medio */
    margin-bottom: 1rem;
}

*/ .btnProyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Puedes ajustar esta altura según necesites */
    text-align: center;
    background-color: #f0f0f0;
    /* Color de fondo opcional */
}

.enlace-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Quita el subrayado del enlace */
}

/* Aplica los estilos de los botones según corresponda */
.boton-proyectos {
    background-color: transparent;
    color: var(--color-principal);
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid var(--color-gris-claro);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.boton-proyectos:hover {
    background-color: var(--color-principal);
    color: #fff;
}

.boton-proyectos:active {
    background-color: #5A0CA4;
    color: #fff;
}



.content_sobreMi{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content_sobreMi  img{

    width:100%;
    max-width: 300px;
    border-radius: 10px;
    border: 8px solid var(--color-principal);
    box-shadow: 0px 8px 10px var(--color-principal);
    

}

.content_sobreMi .text_sobreMi{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

button#toggle-dark-mode {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-texto);
    transition: color 0.3s ease;
}

button#toggle-dark-mode:hover {
    color: var(--color-principal);
}


#destacar {
    color: var(--color-principal);
    font-weight: 700;

}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .proyectos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
    }

    .proyecto h3 {
        font-size: 1.5rem;
    }

    .proyecto p {
        font-size: 1rem;
    }

    .proyecto img {
        max-height: 150px;
        /* Ajusta la altura de la imagen en pantallas más pequeñas */
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
    
}

@media (max-width: 390px) {
    nav ul li a {
        font-size: 0.7rem;
    }

    button#toggle-dark-mode {
        font-size: 1rem;
    }
}